body {
    background-color: rgb(163, 211, 195);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0px;
}

header, footer {
    background-color: #6a9791;
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

nav ul li {
    list-style: center;
    padding: 0;
    display: inline;
    margin: 30px;
}

a {
    text-decoration: none;
    color: #333;
}

main {
    text-align: center;
}

.produto-item {
    margin: 15px;

}
